$black : #000;
$light-black : #4c4c4c;
$white : #fff;
$white2 : #f3f3f5;
$off-white : #fbfbfb;
$gray : #ddd;
$dark-gray : #808185;
$red : #e4425c;
$orange : #CC5B00;
$light-blue : #0097b9;
$blue : #0a6aa1;
$yellow : #ffb822;